//header
.head
  background: colors_elements
  &__elem
    height: 67px
    display: flex
    justify-content: space-between
    align-items: center
  &__nav
    list-style: none
    display: flex
    &-li
      margin-left: 40px
    &-a
      color: colors_white
      text-decoration: none
      font: 16px/1.1 Arial